body{
            font-size: 16px;
            font-family: "Segoe UI", Segoe UI;
            color: black;
            padding-left: 4px;
            background-color:#0554a6;
            margin-top:0px;
            margin-right:0px;
            margin-left:0px;
            
        }
header{
    background-color:#075EBA;
    margin:0px;
    width:120%;
    height:50px;
    padding-left:5px;
    align-content:space-around;
    position:fixed;
    top:5px;

    

}
.secret{
    color:#0554a6;
}
.headr{
    margin:0px;
    width:120%;
    height:50px;
    padding-left:5px;
    align-content:space-around;
    position:fixed;
    top:5px;
}
body .main{
    padding-left:0px;
}
ul{
           
           vertical-align: super;
        }

a{
            text-decoration: none;
            background-color: skyblue;
            color:darkblue;
            
        }
a:hover{
    color:red;
}
a:visited{
    color:darkred;
}
button{
    border-radius:0px;
    background-color:#0464C7;
   
    width:auto;
    height:95%;
    border:none;
    font-size: 14px;
    padding:2px;

}
.but{
    background-color: inherit;
}
.logosvg{
    top:16%;
    position: relative;
}

.listcars img{
            width:225px;
            display: grid;
            
}
.listcars{
            display: grid; 
            grid-template-columns: repeat(5,1fr);
            grid-template-rows: auto;
            width:100%;
            padding:28px; 

           
}
.listcars article{
            border:dashed skyblue;
            width:225px;
            
            margin-bottom:4px;
            border-radius:7px;
}
.listcars p{
            text-align: center;
            
            
}
.listcars a{
    text-align:center;
    align-items:center;
    align-content:center;

}
.listcars span{
    background-color:skyblue;
    margin:0px;
    text-align:center;
    align-self:center;
}
.badges{
     list-style-image: url("icon24.png");
}
.badges .toyota{
    list-style-image: url("icontoyo24.png")
}
.randcar{
    position: relative;
    left: 70%;
   
    align-content: space-around;
    margin: 0px;
    padding: 0px;
}
.randcar img{
    height: 25px;
    margin: 0px;
}
.randcar div{
    margin:0px;
    align-items:stretch;
}
.randcar button{
    position: relative;
    top: 50%;
    height: 47.5px;
}
.randimg{
    height: 50px;
    
    margin-left:245px;
   
    position: relative;
   
    padding: 0px;
}
.insimg{
    border: solid white 7px;
    margin:2px;

}

.point{
    image-rendering: pixelated;
}